openapi: 3.2.0
info:
  title: AutoFi Prequalification API
  description: '# Introduction

    Welcome to the AutoFi REST API.'
  version: 1.0.0
  x-logo:
    url: https://app.autofi.com/images/email-autofi-logo.png
    backgroundColor: '#FFFFFF'
    altText: AutoFi
    href: /
servers:
- url: https://api.autofi.com
  description: Production server
- url: https://api-uat.autofi.com
  description: Sandbox server
security:
- bearerAuth: []
tags:
- name: Prequalification
paths:
  /v1/prequalification:
    post:
      security:
      - bearerAuth:
        - create:prequalification
      summary: Prequalification
      description: 'Prequalification can be utilized to help identify how much the user can afford.

        This endpoint provides the maximum monthly payment, maximum loan amount, and a credit score range.'
      tags:
      - Prequalification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - applicant
              properties:
                applicant:
                  type: object
                  required:
                  - name
                  - address
                  - phone
                  - email
                  - employmentIncome
                  properties:
                    name:
                      $ref: '#/components/schemas/ApplicantFullNameInput'
                    address:
                      required:
                      - street
                      - city
                      - state
                      - zip
                      type: object
                      properties:
                        street:
                          example: 1234 Main St
                          type: string
                        street2:
                          example: Apt B
                          type: string
                        city:
                          example: Madison
                          type: string
                        state:
                          example: WI
                          type: string
                        zip:
                          example: '53714'
                          type: string
                    phone:
                      type: string
                      example: '5554443333'
                      maxLength: 10
                      minLength: 10
                      pattern: ^[2-9][0-9]{9}$
                    email:
                      $ref: '#/components/schemas/EmailInput'
                    employmentIncome:
                      type: number
                      format: float
                      minimum: 0
                      example: 10000
                      description: Gross monthly income from employment.
      responses:
        '200':
          description: Prequalification successfully calculated.
          content:
            application/json:
              schema:
                type: object
                required:
                - prequalification
                properties:
                  prequalification:
                    type: object
                    properties:
                      maxLoanAmount:
                        description: The maximum loan that the applicant can afford.
                        type: number
                        format: float
                      maxMonthlyPayment:
                        description: The maximum monthly payment that the applicant can afford.
                        type: number
                        format: float
                      ficoRange:
                        description: Deprecated in favor of appropriately named `creditScoreRange` field.
                        deprecated: true
                        type: object
                        properties:
                          top:
                            type: integer
                          bottom:
                            type: integer
                      creditScoreRange:
                        type: object
                        properties:
                          top:
                            type: integer
                          bottom:
                            type: integer
        '400':
          $ref: '#/components/responses/BadRequestPrequal'
        '404':
          $ref: '#/components/responses/NotFoundPrequal'
        '503':
          $ref: '#/components/responses/ServiceUnavailablePrequal'
      operationId: postV1Prequalification
      x-operation-id-source: derived
components:
  schemas:
    message:
      type: string
      description: HTTP status description.
    ApplicantFullNameInput:
      allOf:
      - $ref: '#/components/schemas/ApplicantBaseNameInput'
      title: Name
      properties:
        middle:
          description: Middle name
          example: Alejandra
          type: string
        suffix:
          description: Suffix indicating generational title
          example: JR
          type: string
          enum:
          - JR
          - SR
          - I
          - II
          - III
          - IV
          - V
    EmailInput:
      type: string
      example: fake@example.com
      format: email
      minLength: 1
      title: Email
      description: 'An email is an ASCII string separated into two parts by the @ symbol (local_part@domain). The local_part may contain uppercase (A-Z) and lowercase (a-z) ASCII characters, digits (0-9), special characters (+, -, _, !, #, $, %, &, , *, /, =, ?, ^, `, {, |, }, ~) and the . character. The domain part of an email may contain letters, digits, hyphens and periods. The top level domain (TLD) portion of the domain must also be published by IANA to be considered valid. See https://tools.ietf.org/html/rfc2822#section-3.4.1 for more information.'
    ApplicantBaseNameInput:
      title: Name
      description: Names must start with one or more alphanumeric characters, and may be followed by one special character as long as that special character is followed by one or more alphanumeric characters. A name may also end with a period.
      type: object
      required:
      - first
      - last
      properties:
        first:
          description: First name
          example: Mrs. Jamie-Lynn
          type: string
          minLength: 1
          pattern: ^[a-zA-ZÀ-ÿ0-9#]+(([',. -]+[a-zA-ZÀ-ÿ0-9 ])?[a-zA-ZÀ-ÿ0-9 .-/#’&]*)*$
        last:
          description: Last name
          example: O'Rourke-Van Winkle
          type: string
          minLength: 1
          pattern: ^[a-zA-ZÀ-ÿ0-9#]+(([',. -]+[a-zA-ZÀ-ÿ0-9 ])?[a-zA-ZÀ-ÿ0-9 .-/#’&]*)*$
    errors:
      type: array
      items:
        properties:
          description:
            type: string
            description: Error description.
    code:
      type: integer
      description: HTTP status code.
  responses:
    BadRequestPrequal:
      description: BadRequest
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/code'
              message:
                $ref: '#/components/schemas/message'
              errors:
                description: "Array of validation errors found in the payload that include general type validation as well as any issues with the data surfaced by the credit bureau:\n - Invalid Address\n - Required field not provided\n - Field can not be null\n - Field must be an object\n - Field is not a defined field\n - Field is invalid\n"
                allOf:
                - $ref: '#/components/schemas/errors'
            example:
              code: 400
              message: Bad Request
              errors:
              - description: 'Something went wrong: Invalid Address'
              - description: Required field "applicant" was not provided.
              - description: Field "applicant.phone" can not be null.
              - description: Field "applicant.name" must be an object.
              - description: Field "someName" is not a defined field.
              - description: 'Field "applicant.email" is invalid: Email cannot represent an invalid email address value: notAnEmailAddress.'
              - description: 'Field "applicant.employmentIncome" is invalid: Must be a float greater than or equal to 0.'
              - description: 'STREETNAME: Required Data Not Entered'
    ServiceUnavailablePrequal:
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/code'
              message:
                $ref: '#/components/schemas/message'
              errors:
                description: "These errors happen because the credit service was unable to handle the request.\nThe error description includes an error code that fall into the following categories:\n- Error code (7000, 7100, 7101, 7110) - Request failed by credit service.    \n- Error code (7002, 7200) - Credit bureau errors.\n- Error code (7003, 7199) - Credit service down.\n"
                allOf:
                - $ref: '#/components/schemas/errors'
            example:
              code: 503
              message: Service Unavailable
              errors:
              - description: Credit Service Unavailable (7000).
              - description: Credit Service Unavailable (7002).
              - description: Credit Service Unavailable (7003).
              - description: Credit Service Unavailable (7100).
              - description: Credit Service Unavailable (7101).
              - description: Credit Service Unavailable (7110).
              - description: Credit Service Unavailable (7199).
              - description: Credit Service Unavailable (7200).
    NotFoundPrequal:
      description: NotFound
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/code'
              message:
                $ref: '#/components/schemas/message'
              errors:
                description: No credit record found for this user. The error description includes more details about the error.
                allOf:
                - $ref: '#/components/schemas/errors'
            example:
              code: 404
              message: Not Found
              errors:
              - description: No credit record found for this user
              - description: Credit Service returned "NoHit" response
              - description: Credit Service returned "Locked" credit report
              - description: Credit Service returned "Frozen" credit report
              - description: Credit Service returned "Deceased" credit report
              - description: Credit Service returned "No Information on Credit Report" credit report
  securitySchemes:
    bearerAuth:
      description: 'Get access to data while protecting your account credentials.

        '
      type: http
      scheme: bearer
      bearerFormat: Bearer {token}
