openapi: 3.2.0
info:
  title: AutoFi Authorization API
  description: '# Introduction

    Welcome to the AutoFi REST API.'
  version: 1.0.0
  x-logo:
    url: https://app.autofi.com/images/email-autofi-logo.png
    backgroundColor: '#FFFFFF'
    altText: AutoFi
    href: /
servers:
- url: https://api.autofi.com
  description: Production server
- url: https://api-uat.autofi.com
  description: Sandbox server
security:
- bearerAuth: []
tags:
- name: Authorization
  description: To authorize requests to the AutoFi API you will need an `Access Token` (JWT).
paths:
  /auth/token:
    post:
      security: []
      summary: Request an access token (JWT)
      description: 'Authenticate with your account''s API client credentials to retrieve an access token.


        The access token is required to authorize API requests.'
      tags:
      - Authorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessToken'
            example:
              clientId: avWXpEjNfB7QgjH9hs3rokgZVQgUiiG6
              clientSecret: LWFE=QRv4uqcM/Vx*c>HnPQXMj3BWzpMpvgeg[URM>9YT/rZVYKT9tPbuRdvQiAf
      responses:
        '200':
          description: JWT
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JSON Web Token format
                  expires_in:
                    type: integer
                    description: number of `seconds` after token issuance the token expires in
                    example: 86400
                  token_type:
                    type: string
                    example: Bearer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationError'
      operationId: postAuthToken
      x-operation-id-source: derived
components:
  schemas:
    AuthorizationError:
      type: object
      description: Access token is missing or invalid
      properties:
        error:
          type: string
          example: access_denied
        error_description:
          type: string
          example: Unauthorized
        error_id:
          type: string
          default: null
          description: A placeholder for future expansion
    AccessToken:
      type: object
      required:
      - clientId
      - clientSecret
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
  securitySchemes:
    bearerAuth:
      description: 'Get access to data while protecting your account credentials.

        '
      type: http
      scheme: bearer
      bearerFormat: Bearer {token}
