openapi: 3.2.0
info:
  title: AutoFi Dealers API
  description: '# Introduction

    Welcome to the AutoFi REST API.'
  version: 1.0.0
  x-logo:
    url: https://app.autofi.com/images/email-autofi-logo.png
    backgroundColor: '#FFFFFF'
    altText: AutoFi
    href: /
servers:
- url: https://api.autofi.com
  description: Production server
- url: https://api-uat.autofi.com
  description: Sandbox server
security:
- bearerAuth: []
tags:
- name: Dealers
  description: A `dealer` is a required entity when requesting to create a loan application. If the dealer does not exist you need to first create the `dealer` to acquire the unique `dealer code` from AutoFi.
paths:
  /v1/dealer/lookup:
    post:
      security:
      - bearerAuth:
        - lookup:dealers
      summary: Lookup AutoFi dealers
      tags:
      - Dealers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - brand
              - oemSalesCodes
              properties:
                brand:
                  allOf:
                  - $ref: '#/components/schemas/brand'
                oemSalesCodes:
                  type: array
                  description: External dealer code assigned by the OEM.
                  items:
                    allOf:
                    - $ref: '#/components/schemas/oemSalesCode'
      responses:
        '200':
          description: Dealer lookup successfully executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealerLookup'
        '400':
          $ref: '#/components/responses/DealerLookup400'
      operationId: postV1DealerLookup
      x-operation-id-source: derived
components:
  schemas:
    message:
      type: string
      description: HTTP status description.
    ValidationError:
      description: "Array of validation input errors found in the payload:\n  - Required field not provided\n  - Field can not be null\n  - Field must be an object\n  - Field is not a defined field\n  - Field is invalid\n"
      allOf:
      - $ref: '#/components/schemas/errors'
    DealerLookup:
      type: object
      properties:
        brand:
          type: string
          description: OEM brand.
        dealers:
          type: array
          description: List of dealers found.
          items:
            allOf:
            - $ref: '#/components/schemas/OemDealerInfo'
    code:
      type: integer
      description: HTTP status code.
    brand:
      type: string
      description: OEM brand.
    oemSalesCode:
      type:
      - string
      - 'null'
      description: External dealer code assigned by the OEM.
    errors:
      type: array
      items:
        properties:
          description:
            type: string
            description: Error description.
    OemDealerInfo:
      type:
      - object
      - 'null'
      properties:
        code:
          type:
          - string
          - 'null'
          description: AutoFi internal dealer code.
        name:
          type:
          - string
          - 'null'
          description: Dealer name.
        oemSalesCode:
          type:
          - string
          - 'null'
          description: External dealer code assigned by the OEM.
  responses:
    DealerLookup400:
      description: BadRequest
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/code'
              message:
                $ref: '#/components/schemas/message'
              errors:
                $ref: '#/components/schemas/ValidationError'
          example:
            code: 400
            message: Validation Error
            errors:
            - description: 'The brand was not found: RANDOM CARS INCORPORATED.'
            - description: 'Field "" is invalid: String cannot represent a non string value: 1.'
            - description: Variable "$brand" of required type "String!" was not provided.
  securitySchemes:
    bearerAuth:
      description: 'Get access to data while protecting your account credentials.

        '
      type: http
      scheme: bearer
      bearerFormat: Bearer {token}
